{% extends "base.html" %}
{% block content %}
Here is some fun.  The follwoing applications are available
<ul>
	<li><a href='/app/timesheet/'>Simple timesheet</li>
	<li><a href='/app/rank/'>Ranking application</li>
	<li><a href='/app/team-manage/'>Team management</li>
	<li><a href='/app/impairment/'>Impairment calculator</li>
	<li><a href='/app/tremor/'>Tremor on iPhone</li>
	<li><a href='/app/booking_admin/'>Booking Admin</li>
	<li><a href='/app/booking/'>Booking Direct</li>
</ul>
{% endblock %}